{% extends "base.html" %}
{% load bootstrap3 %}
{% load tz %}

{% block scripts %}

{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">Wod list</div>

  <div class="panel-body">

      <table class="table">
        <thead>
          <th>Wod ID</th>
          <th>Launch time</th>
          <th>Launched</th>
        </thead>
        {% for entry in object_list  %}
          <tr>
            <td> {{ entry.wod_id }}</td>
            <td>{{ entry.launch_time|localtime|date:"d.m.y - H:i" }}</td>
            <td>{% if entry.launched %} Yes {% else %} No {% endif %}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  </div>

</div>

{% endblock %}
