{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">Confirm delete</div>
  <div class="panel-body">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <form action="" method="POST">
              {% csrf_token %}
              <p>Are you sure you want to delete "{{ object }}"?</p>
              <a href="{% url "wod-list-view" %}" class="btn btn-primary">Cancel</a>
              <input class="btn btn-danger" type="submit" value="Confirm">
          </form>
        </div>
        <div class="col-md-2"></div>
    </div>

  </div>
</div>

{% endblock %}
